# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the
# -o option to specify an output file.
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# Environment variables
.env

# Build results
/build

# Log files
*.log
logs/
*.log.*

# IDE settings
.idea/
.vscode/

# OS-specific files
.DS_Store
Thumbs.db
